shamefully-hoist=true
node-linker=isolated


# ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
python=D:/Tools/python312/python.exe
# registry = "https://mirrors.huaweicloud.com/repository/npm/"
# electron_builder_binaries_mirror="https://mirrors.huaweicloud.com/electron-builder-binaries/"